* { box-sizing: border-box; padding: 0; margin: 0; }
body { margin: 0 auto; font-family: Calibri,sans-serif; }
form { padding: 1rem; && fieldset { padding: 0.5rem; } }

.container { padding: 1rem; margin: 1rem; }
#container-flex, #container-flex > * { display: flex; }

label { display: block; margin-top: 1rem; margin-right: 1rem;}
input, #biographie { display: block; }
button { margin-right: 1.5rem; height: 50px; width: 150px;}



